h1 {
  text-align: center;
}

h4 {
  padding: 10px 0;
  text-align: center;
}

.kaigi {
  background-color: rgb(245, 245, 245);
  margin-bottom: 20px;
  padding: 20px;

  .information {
    * {
      vertical-align: middle;
    }
  }

  h3 {
    margin: 5px 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}
