- url = "http://galore-kaigi.github.com"

!!! 5
%html
  %head
    %title ガローア会議 - GaloreKaigi
    %meta{ :charset => "UTF-8" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "css/bootstrap.min.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "css/galore.css" }
  %body
    .navbar
      .navbar-inner
        .container
          %a.brand{ :href => url }
            GaloreKaigi
    .container
      .row
        .span12
          .hero-unit
            %h1
              Welcome to GaloreKaigi!

      .row
        .span6

          .kaigi
            %h2
              ガローア会議03
            .information
              %i.icon-tag
              %span.label.label-info #galore03
              %i.icon-calendar
              %span.label.label-info ????
              %i.icon-map-marker
              %span.label.label-info ????
            %p
              開催者を募集しています！あなたもガローア会議を開催してみませんか。お気軽にどうぞ！

          .kaigi
            %h2
              ガローア会議02
            .information
              %i.icon-tag
              %span.label.label-info #galore02
              %i.icon-calendar
              %span.label.label-info 2012-02-25/26
              %i.icon-map-marker
              %span.label.label-info NIKKO is NIPPON
            %h3
              Members
            %ul.members.unstyled
              %li.member
                %i.icon-user
                %a{ :href => "http://twitter.com/RooandQoo" } @RooandQoo
              %li.member
                %i.icon-user
                %a{ :href => "http://twitter.com/noize_hioki" } @noize_hioki
              %li.member
                %i.icon-user
                %a{ :href => "http://twitter.com/mitaku" } @mitaku
              %li.member
                %i.icon-user
                %a{ :href => "http://twitter.com/kei_s" } @kei_s
              %li.member
                %i.icon-user
                %a{ :href => "http://twitter.com/june29" } @june29
            %h3
              Links
            %ul.links.unstyled
              %li.link
                %i.icon-star
                %a{ :href => "http://d.hatena.ne.jp/rooandqoo32/20120301/1330612923", :title => "「ガローア会議02」を開催しました - And Q." } 「ガローア会議02」を開催しました - And Q.
              %li.link
                %i.icon-star
                %a{ :href => "http://toihiroki.me/2012/03/02/galore02/", :title => "ガローア会議02に行ってきた - といひろき.みー" } ガローア会議02に行ってきた - といひろき.みー
              %li.link
                %i.icon-star
                %a{ :href => "http://june29.jp/2012/03/04/galore02/", :title => "「ガローア会議02」に参加しました - 準二級.jp" } 「ガローア会議02」に参加しました - 準二級.jp
              %li.link
                %i.icon-star
                %a{ :href => "http://togetter.com/li/264091", :title => "ガローア会議02 - Togetter" } ガローア会議02 - Togetter
              %li.link
                %i.icon-star
                %a{ :href => "http://www.flickr.com/photos/june29/sets/72157629457968699/detail/", :title => "ガローア会議02 - a set on Flickr" } ガローア会議02 - a set on Flickr

          .kaigi
            %h2
              ガローア会議01
            .information
              %i.icon-tag
              %span.label.label-info #galore01
              %i.icon-calendar
              %span.label.label-info 2011-04-16
              %i.icon-map-marker
              %span.label.label-info TOKYO
            %h3
              Members
            %ul.members.unstyled
              %li.member
                %i.icon-user
                %a{ :href => "http://twitter.com/RooandQoo" } @RooandQoo
              %li.member
                %i.icon-user
                %a{ :href => "http://twitter.com/noize_hioki" } @noize_hioki
              %li.member
                %i.icon-user
                %a{ :href => "http://twitter.com/kana1" } @kana1
              %li.member
                %i.icon-user
                %a{ :href => "http://twitter.com/june29" } @june29
            %h3
              Links
            %ul.links.unstyled
              %li.link
                %i.icon-star
                %a{ :href => "http://d.hatena.ne.jp/rooandqoo32/20110416/1302972025", :title => "はじめてのHackathon - And Q." } はじめてのHackathon - And Q.
              %li.link
                %i.icon-star
                %a{ :href => "http://toihiroki.me/2011/04/19/galore01/", :title => "ガローア会議01に行ってきた - といひろき.みー" } ガローア会議01に行ってきた - といひろき.みー
              %li.link
                %i.icon-star
                %a{ :href => "http://june29.jp/2011/04/19/galore01/", :title => "「ガローア会議01」を開催しました - 準二級.jp" } 「ガローア会議01」を開催しました - 準二級.jp
              %li.link
                %i.icon-star
                %a{ :href => "http://togetter.com/li/125601", :title => "ガローア会議01 - Togetter" } ガローア会議01 - Togetter

        .span6
          :plain
            <iframe width="460" height="264" src="http://www.youtube.com/embed/vEVq_Bx7_KY?rel=0" frameborder="0" allowfullscreen></iframe>
          %h4
            公式テーマソング「Everyday、ガローア」

          .about
            %h3
              ガローア会議とは
            %p
              ガローア会議とは、世界各地で開催されるハッカソンや開発合宿などを統合する概念です。みんなでどんどんガローア会議を開催して、ガローアの輪を世界に広げましょう。

          .photo
            :plain
              <a href="http://www.flickr.com/photos/june29/6931316605/" title="ガローア会議02 by june29, on Flickr"><img src="http://farm8.staticflickr.com/7038/6931316605_5b7726e90a.jpg" width="500" height="374" alt="ガローア会議02"></a>

      .row
        .span12
          %footer
            〒144-0052 東京都大田区蒲田2丁目20-3 ガローア
